<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Login</title>
</head>
<body>
    <h1>Sign in</h1>
    <form>
        <input id="username" type="text" label="Username" placeholder="username">
        <input id="password" type="password" label="Password" placeholder="password">
        <button id="signin-btn">Sign In</button>
    </form>
    <div id="signup">
        <label for="signup">Don't have an account?</label>
        <a href="/register">Sign Up</a>
    </div>
    <script src="/client.js"></script>
</body>
</html>